.list-item {
  background: var(--vt-c-white-soft);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);

  &:nth-child(odd) {
    flex-direction: row-reverse;

    &:after {
      right: 0;
    }

    .list-item-content,
    .list-title {
      text-align: end;
    }
  }

  &:after {
    content: "";
    position: absolute;
    bottom: -4px;
    height: 4px;
    width: 0;
    background-color: rgb(76, 57, 159);
    transition: 0.4s;
  }

  .image {
    width: 50%;
  }
}

.list-item-content {
  padding: 1rem;
  text-align: start;
}

.list-title {
  text-align: start;
}

@media (hover: hover) {
  .list-item:hover {
    transform: scale(1.1) translateY(-8px);
    opacity: 2;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 40%);

    &:after {
      width: 100%;
    }
  }
}

@media (min-width: 1024px) {
  .list-item {
    max-width: 50vw;

    &:nth-child(even) {
      &:after {
        left: 0;
      }
    }
  }
}
