.ingredients-list-item {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;

  .text:nth-child(odd) {
    font-style: italic;
    white-space: nowrap;
  }
}

.ingredients-list-header {
  font-weight: bold;
}
