.heading {
  font-weight: 400;

  .bold {
    font-weight: 500;
  }
}

.heading-1 {
  font-size: fluid-value(40, 120, 480, 2560);
  line-height: fluid-value(40, 99, 480, 2560);
  font-weight: 300;
  text-transform: uppercase;
}

.heading-2 {
  font-size: fluid-value(24, 40, 480, 2560);
  line-height: fluid-value(24, 40, 480, 2560);
  text-transform: uppercase;
}

.heading-3 {
  font-size: rem-value(26);
  line-height: 1.15;
}

.heading-4 {
  font-size: fluid-value(50, 80);
  line-height: 1;
}
